.card{
    width:60rem;
    margin-top: -6%;
    margin-left: 11%;
    background-color: rgb(27 29 28 / 77%);
    color: whitesmoke;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.marginRight14{
    margin-right: 67px;
 
}
.box-prefride{
    background-color: black;
    
}
