.sidebar{
   background: rgba(0, 0, 0, 0.758);
   height: 100vh;
   margin-left: -20px;
   color: rgb(241, 241, 241);
   margin-top: 30px;
  
}
.top_section
{
    padding: 20px;
    margin-top: 10px;
    display: flex;
   
    justify-content: space-between;
}
.top_section1
{
   
    display:flex;
    
   padding-right: -20px;
    justify-content: space-between;
}
.sec
{
    margin-top: 50px;


}

.main-sec{
   padding: 10px;
   padding-left: 20px;
}

.main-sec:hover {
   background-color: rgba(14, 14, 14, 0.671);
  border-right: 4px solid whitesmoke;
  
   
}
.admin-body{
   margin-top: -570px;
   background: rgba(50, 50, 50, 0.413);
   padding: 30px;
   border-radius: 10px;
   
}
.table{
 color: rgba(240, 248, 255, 0.737);
}